@model PGSTask.Web1.Models.GamesViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>Games</h2>
<div class="form-actions no-color">
    <p>
        <a asp-action="Create">Click to add game</a>
    </p>
</div>

<form asp-controller="Games" asp-action="Index" method="get">
</form>
<table id="gamesTable" class="display table" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Release Date
            </th>
            <th>
                Genre
            </th>
            <th>
                Platform
            </th>
            <th>
                Developer
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form asp-action="Delete" method="get" asp-route-id="@item.Id">
                        <a asp-action="Edit" asp-controller="Games" asp-route-id="@item.Id" class="btn" btn-primary>Edit</a>
                        <button type="submit" class="btn btn-danger"> Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/Games/Index.js"></script>
}

